= div_for(attendee) do |a|
  .attendeeName
    = a.person
  .attendeeProject
    = a.project
  .attendeeUseHelp
    = a.use_help
  .attendeeCouldHelp
    = a.could_help
  .attendeeDepart
    = link_to 'X', url_for(attendee), :method => :delete