= div_for(attendee) do |a|
  .attendeeName
    - if a.twitter_handle
      = link_to a.person, "http://twitter.com/#{a.twitter_handle}"
    - else
      = a.person
  .attendeeProject
    = a.project
  .attendeeUseHelp
    = a.use_help
  .attendeeCouldHelp
    = a.could_help
  .attendeeDepart
    = link_to 'X', url_for(attendee), :method => :delete, :class => 'close'