.attendeeForm
  = form_for(Attendee.new) do |f|
    .attendeeFormField
      = f.label "What's your name?"
      = f.text_field :person
    .attendeeFormField
      = f.label "What are you working on?"
      = f.text_field :project
    .attendeeFormField
      = f.label "What could you use help with?"
      = f.text_field :use_help
    .attendeeFormField
      = f.label "What could you help others with?"
      = f.text_field :could_help
    .attendeeFormField
      .attendeeFormButton
        = f.submit "Get Started"