.attendeeForm
  = form_for(Attendee.new) do |f|
    .attendeeFormField
      = f.label :person, "What's your name?"
      = f.text_field :person, :value => @default_name
    .attendeeFormField
      = f.label :project, "What are you working on?"
      = f.text_field :project
    .attendeeFormField
      = f.label :use_help, "What could you use help with?"
      = f.text_field :use_help
    .attendeeFormField
      = f.label :could_help, "What could you help others with?"
      = f.text_field :could_help
    .attendeeFormField
      .attendeeFormButton
        = f.submit "Get Started", :class => 'btn'