= javascript_include_tag 'hacksession/hacksession'

= render :partial => 'announcements/announcement', object: @announcement

%hr
.attendees
  %h3 Attendees
  .attendeeForm
    = render :partial => 'attendees/new_attendee_form'
  .attendeeList
    =# render :partial => 'attendees/attendee', collection: @attendees
    %script{:type => "text/x-handlebars", :'data-template-name' => 'attendees'}
      = hb 'each controller' do
        .attendee
          .attendeeName
            = hb 'person'
          .attendeeProject
            = hb 'project'
          .attendeeUseHelp
            = hb 'useHelp'
          .attendeeCouldHelp
            = hb 'couldHelp'
          .attendeeDepart