!!!
%html
  %head
    %title Hack Session
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags

  %body
    #content
      .header
        %h1 Hack Session
        %hr

      = yield